@font-face {
  font-family: playFairDisplay;
  src: url(src/fonts/headline-fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(src/fonts/paragraph-fonts/Raleway-VariableFont_wght.ttf);
}
