@import "typography.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffff0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  min-width: 100vh;
}

.navbar {
  background-color: #3d5a80;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 20px 20px;
  margin: 0px 50px 0px 50px;
  padding: 20px;
}
.navbar-nav a {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1px;
  color: #ffffff;
}

.navbar-nav a:hover {
  color: #98c1d9;
  text-decoration: none;
}

h1 {
  color: #293241;
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
}

h4 {
  color: #293241;
  line-height: 1.6;
  font-family: "Courier New", Courier, monospace;
}

img {
  width: 200px;
  height: 100%;
}

.btn {
  background-color: #3d5a80;
  color: #000000;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
}

.btn:hover {
  background-color: #98c1d9;
  color: #000000;
  border-color: #222831;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
.row {
  font-family: "Courier New", Courier, monospace;
  padding-bottom: 2%;
  color: #ffffff;
  text-align: center;
}
ul {
  list-style: none;
}

@media only screen and (max-width: 1600px) {
  #skillset > div {
    padding-bottom: 5%;
  }
}

@media only screen and (max-width: 994px) {
  .navbar-brand img {
    visibility: hidden;
  }
  img {
    visibility: unset;
  }
  h1 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 576px) {
  #skillset > div {
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 768px) {
  #skillset > div {
    margin-bottom: 5%;
  }
}

/*Palettes
    #3d5a80 // #98c1d9 // #e0fbfc // #ee6c4d //#293241
*/
