@import url("fonts.css");
@import url("typography.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,500;1,400&family=Tiro+Gurmukhi&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.main {
  height: 100vh; /* For 100% screen height */
  width: 100vw; /* For 100% screen width */
}

.services {
  width: 100%;
  margin: 64px 0px 64px 0px;
}

.skills {
  padding: 64px;
}

.projects {
  padding: 64px 0px 64px 0px;
  color: #ffffff;
}

.contact {
  padding: 64px;
}

footer {
  padding: 15px 0px 0px 0px;
  background-color: #3d5a80;
  color: #ffffff;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.nav_active {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.navbar-nav a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  padding: 20px;
}

.navbar-nav a:hover {
  color: #3d5a80;
  text-decoration: none;
}

.headline {
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.name {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: bolder;
}

.skills-logo {
  float: left;
  width: 100px;
  height: 100px;
  object-fit: fill;
}

.main-btn {
  color: #000000;
}

.resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0563bb;
  position: relative;
}

.resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}

@media only screen and (min-width: 1025px) {
  .navbar {
    height: 64px;
  }
  section {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

@media only screen and (max-width: 1025px) and (min-width: 600px) {
  .navbar {
    height: 64px;
  }
}

@media only screen and (max-width: 960px) {
  .profile-pic {
    display: none;
  }
  .projects {
    padding: 10px;
  }
}
@media only screen and (min-width: 960px) {
  .profile-links {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    visibility: hidden;
  }
  .me-name {
    font-size: 34px;
  }
}

/*Palettes
    #3d5a80 // #98c1d9 // #e0fbfc // #ee6c4d //#293241
*/
