@import url("fonts.css");
@import url("typography.css");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&family=Lora&family=Poppins&family=Raleway:ital,wght@0,100;0,200;0,300;0,500;1,400&family=Rubik:wght@300&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

.main {
  height: 100vh; /* For 100% screen height */
  width: 100vw; /* For 100% screen width */
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.navbar {
  background-color: #ffffff;
}

.nav_active {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.navbar-nav a {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  font-family: "Poppins", Courier, sans-serif;
  letter-spacing: 2px;
  padding: 20px;
}

.navbar-nav a:hover {
  color: #3d5a80;
  text-decoration: none;
}

.headline {
  font-family: "Poppins", Courier, sans-serif;
  font-size: 34px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.paragraph {
  font-family: "Lora", Courier, sans-serif;
  font-size: 16px;
}

.rounded-button {
  width: 60px;
  height: 60px;
  background: #3d5a80;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
}

.rounded-button:hover {
  text-decoration: none;
}

.btn {
  background-color: #3d5a80;
  color: #ffffff;
  font-family: "Poppins", Helvetica, sans-serif;
}

.btn:hover {
  background-color: #98c1d9;
  color: #ffffff;
  border: 1px solid #3d5a80;
}

@media only screen and (min-width: 1025px) {
  .navbar {
    height: 64px;
  }
}

@media only screen and (max-width: 1025px) {
  .main-section {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    visibility: hidden;
  }
}

/*Palettes
    #3d5a80 // #98c1d9 // #e0fbfc // #ee6c4d //#293241
*/
